@import './colors.less';


// Width
@width-app-left: 200px;

// Height
@height-toolbar: 54px;
@height-player: 80px;


// Shadow
@shadow-app: 8px;


// Radius
@radius-progress-border: 5px;
@radius-border: 8px;
@radius-card: 12px;
@radius-round: 999px;

@transition-slow: .5s ease-out;
@transition-normal: .3s ease-out;
@transition-fast: .2s ease-out;

@form-radius: 8px;
